/*Se quitan todas las margenes del documento*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*estilos de letra para todo el documento*/
body{
	font-family: 'Roboto' , Mono;
}
/**/
.container{
	max-width: 600px;
	margin: auto;
	font-size: 18px;
	padding: 20px;
}
.container p{
	margin-bottom: 20px;
}

